.blackDoor{
   background-color: black;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.box{
 border: 1px solid gray;
  border-radius: 10px;
background-color: #E2E6E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration{
  display: flex;
  flex-direction: column;


  height: 200px;
  width: 200px;
  padding:30px;
  padding-top: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.input{
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
height: 40px;

}
.label{
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.error {

  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  color: red;
  min-height: 18px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.error--visible {
  opacity: 1;
}
.buttonRegister{
  cursor: pointer;
  line-height: 40px;
text-align: center;
  color: white;
  background-color: #4219D0;;
  height: 40px;
  border: 1px solid black;
border-radius: 10px;
&--disabled{
  background-color: #FFF;
border: 1px solid #E2E6E9;
  color: grey;
   pointer-events: none;
    cursor: default;
}
&:hover{
  color: #4219D0;
  background-color: #E2E6E9;
  border: 1px solid  #4219D0;
}
}
