.position{
  display: flex;
  flex-direction: column;
flex: 1;
  min-height: 0;     
  overflow-y: auto;

}
.messageBox{
  width: 50%;
 display: flex;
 flex-direction: column;

border: 1px solid black;
border-radius: 20px;
padding: 20px;
margin-bottom: 5px;
align-self: flex-start;

}
.messageBox--quest {
  align-self: flex-end;
  align-items: right;
  background-color: #d4f8d4;
align-items:left;
}
.text{
  color: black;
  font-size: small;
}
.textMessage{

  color:rgb(11, 45, 108);
  font-size: larger;
}
